<div class="messages-page"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()"
     [scrollWindow]="false">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div *ngFor="let group of privateGroup" class="row messages-frame" style="width: 100%">
                    <div class="col-12 col-sm-2">
                        <div class="messages-page-photo"
                             (click)="toProfile(filterUser(group.members).id_user)">
                          <img src="{{filterUser(group.members).avatarPhoto}}" width="50px" height="50px"
                          style="border-radius: 5px;">
                        </div>
                    </div>
                    <div class="col-12 col-sm-10">
                        <div class="messages-page-name" matBadgeOverlap="true"
                             [matBadge]="getCounter(group._id)"
                             (click)="toProfile(filterUser(group.members).id_user)">
                            {{filterUser(group.members).firstName}} {{filterUser(group.members).lastName}}
                        </div>
                        <div class="col-12 messages-page-message-border">
                            <button mat-button class="messages-page-message"
                                    (click)="toRoom(filterUser(group.members).id_user)">write
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

