.formReg {
  background: #474d5b;
  border-radius: 6px;
  padding: 15px 35px 10px 35px;
  width: 500px;
  margin: auto;
   margin-top: 110px;
  .buttonsReg{
    margin-top: 5px;
    div{
      display: flex;
      flex-direction:row;
      justify-content: center;
      button{
        width: 200px;
      }
    }
  }

}

.loginForm{
  margin-top: 20px;

}

:host /deep/ mat-form-field {
  display: block;
  .mat-form-field-underline {
    background-color: #ffffff !important;
  }

  &.mat-focused {
    .mat-form-field-ripple {
      background-color: #ffffff !important;
    }
    .mat-form-field-label {
      color: #ffffff;
    }
  }
  .mat-form-field-label {
    color: #ffffff;
    font-size: 12px;
  }
  input{
    color:#ffffff;
  }


}


:host /deep/ mat-select{
  .mat-select-value {
    color:#ffffff;
  }

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px  #474d5b inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
